<div class="signup-page-container">
  <div class="signup-form-container">
    <h1 class="page-title">Creating your account...</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="signup-user-details">
        <h3 class="page-subtitle">Tell us a little bit about yourself</h3>
        <div class="form-inputs">
          <%= f.input :first_name,
                      label: 'First name:',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "First Name" }%>
          <%= f.input :last_name,
                      label: 'Last name:',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "Last Name" }%>
          <%= f.input :email,
                      label: 'Email:',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      label: 'Password:',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
      </div>

      <div class="signup-btn-container" style="margin-top: 30px">
        <%= f.button :submit, "Next", :class => "btn-ghost" %>
      </div>

    <% end %>

  </div>
</div>
