<h1 style="text-align: center; margin-top: 20px; font-family: Noto Serif JP;">  Add any of the following websites</h1>

 <div class="form-group">
      <input type="hidden" name="user[blacklist_ids][]" value="">
        <div class="blacklist-choices">
           <% Blacklist.all.each do |blacklist| %>
      <input type="checkbox" class="hidden" value="<%= blacklist.id %>" name="user[blacklist_ids][]" id="user_blacklist_ids_<%= blacklist.id %>">
            <label for="user_blacklist_ids_<%= blacklist.id %>">
                <div class = "blacklist-all">
                  <div class="blacklist-card" id= "blacklist-card">
                    <img src= <%= blacklist.image_url %> />
                      <div class="blacklist-infos">
                        <h2><%= blacklist.name %></h2>
                      </div>
                   </div>
              </div>
          </label>
      <% end %>
   </div>
</div>

<div style="text-align: center; margin-bottom: 30px;">
  <%= link_to "Save","/dashboard", class: "btn btn-info btn-xs" %>
</div>
