<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <!-- Left side logo -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%=  link_to image_tag("HTT_logo.svg", width: 230), root_path %>
  </div>

  <!-- Right side login btn or user info -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- If signed in -->
      <% if user_signed_in? %>

        <!-- User name -->
        <li class="nav-item active" style="padding-right: 10px;">
          <p class="nav-link" style="color: #192965;"><%= @user.first_name %> <%= @user.last_name %></p>
        </li>

        <li class="nav-item dropdown">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%  else %>
            <%=  image_tag "default_avatar.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", "/dashboard", class: "dropdown-item" %>
            <%= link_to "Account details", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <!-- If NOT signed in -->
      <% else %>
        <li class="nav-item">

          <!-- Login btn -->
          <%= link_to new_user_session_path do %>

            <p class="btn btn-login">Log in</p>

          <% end %>

        </li>
      <% end %>
    </ul>
  </div>
</div>

