<div class="row">
  <div class="column-left">
    <div class="top-left">
      <div class="header">
      <h1> Your Blocked Websites </h1>
      </div>
      <div class="sub-header">
      <h2> Currently Blocking </h2>
      </div>
      <div class= "card-container-dashboard">
      <% @user.blacklists.each do |blacklist| %>
      <div class="blacklist-website">
      <p class="website"> <%= image_tag blacklist.image_url, alt: "alttext" %> <%= blacklist.name %>
        <%= link_to 'Remove Website', blacklist_path(blacklist),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></p>
      </div>
      <% end %>
      </div>

    </div>

    <div class="bottom-left">
      <h1> Add a new website </h1>
      Add a website

      <%= simple_form_for @blacklist, url: dogs_path, method: :post do |f| %>
    </div>

  </div>

  <div class="column-right">
    <div class="top-right">
      <div class="header">
      <h1> Your Learning topics </h1>
      </div>
      <div class="sub-header">
      <h2> Currently Studying </h2>
      </div>
      <div class= "card-container-dashboard">
        <div class="blacklist-website">
          <p class="website"> <%= image_tag "logo.png", alt: "alttext" %>Le Wagon </p>
        </div>
      </div>
    </div>
    <div class="bottom-right">
      <h1> Other topics: </h1>
      <div class= "card-container-dashboard">
        <div class="blacklist-website">
          <p class="website"> <%= image_tag "duo.png", alt: "alttext" %>Duo Lingo </p>
        </div>
          <div class="blacklist-website">
          <p class="website"> <%= image_tag "elevate.png", alt: "alttext" %>Elevate </p>
          </div>
      </div>
    </div>
  </div>
</div>

