<section>
  <div class= "page2">
    <div class= "form-1 align-items-center" id= "form-1" style = "padding-top: 150px; margin-bottom: 30px;">
      <div>
        <h3>What would you like to learn?</h3>
      </div>
      <div class= "card-container">
        <div class="card-product" id="card" >
          <%= image_tag "lewagon_logo.png", alt: "alttext" %>
          <div class="card-product-infos">
            <h2>Le Wagon</h2>
            <p>Change your life, learn to code</p>
          </div>
        </div>
        <div class="card-product" id="card">
          <%= image_tag "duo.png", alt: "alttext" %>
          <div class="card-product-infos">
            <h2>Duo Lingo</h2>
            <p>The worlds best way to learn a language</p>
          </div>
        </div>
        <div class="card-product" id="card">
          <%= image_tag "elevate.png", alt: "alttext" %>
          <div class="card-product-infos">
            <h2>Elevate</h2>
            <p>Stay sharp, build confidence, and boost productivity</p>
          </div>
        </div>
      </div>
      <div class= "arrow">
        <a href="javascript:SwapDivsWithClick('form-1','form-2')" class="fas fa-arrow-right"></a>
      </div>
    </div>
 </div>
</section>

<!-- new blacklist form -->

<div class= "container" id="form-2" style= "display:none; transition: all 5s ease; margin-bottom: 30px; text-align: center;">
    <div class= "form-2 align-items-center" id= "form-2" style = "padding-top: 150px; margin-bottom: 30px;">
      <div>
        <h3>What would you like to avoid?</h3>
      </div>
      <div class= "card-container">
        <div class="card-product" id="card" >
          <%= image_tag "instagram.png", alt: "alttext" %>
          <div class="card-product-infos">
            <h2>Instagram</h2>
            <!-- <p>Change your life, learn to code</p> -->
          </div>
        </div>
        <div class="card-product" id="card">
          <%= image_tag "facebook.png", alt: "alttext" %>
          <div class="card-product-infos">
            <h2>Facebook</h2>
            <!-- <p>The worlds best way to learn a language</p> -->
          </div>
        </div>
        <div class="card-product" id="card">
          <%= image_tag "bbcnews.png", alt: "alttext" %>
          <div class="card-product-infos">
            <h2>BBC News</h2>
            <!-- <p>Stay sharp, build confidence, and boost productivity</p> -->
          </div>
        </div>
      </div>

    </div>
</div>



<!-- swap divs JS function -->

<script type="text/javascript">
function SwapDivsWithClick(div1,div2)
{
   d1 = document.getElementById(div1);
   d2 = document.getElementById(div2);
   if( d2.style.display == "none" )
   {
      d1.style.display = "none";
      d2.style.display = "block";
   }
   else
   {
      d1.style.display = "block";
      d2.style.display = "none";
   }
}
</script>


