
<!-- header and banner -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/dashboard">
    <i class="far fa-lightbulb" style= "font-size: 26px;"></i>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Hi <%= @user.first_name %></a>
      </li>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container m-5">
    <div class="row justify-content-left p-5" id="title-text">
      <h1 style= 'font-family: Noto Serif JP'>What do you want to learn?</h1>
    </div>
  </div>
</div>

<!-- form is to User update -->
<!-- hidden input for User[blacklist_ids] -->


<!-- learning static form -->

<h3>What would you like to learn?</h3>
<div class= "card-container">
  <%= simple_form_for(@user, url: user_registration_path,method: :get) do |f| %>
  <div class="category-choices">
      <% User::LEARNING_OPTIONS.each do |category| %>

        <input type="hidden" class="hidden" value="<%= category%>" name="category" id="category">
        <label for="category">
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
            <div class="card-product-infos">
              <h2>Le Wagon</h2>
              <p>Change your life, learn to code</p>
            </div>
          </div>
        </label>
      <% end %>
     </div>

    <%= f.button :submit, class:"btn btn-primary" %>

  <% end %>
</div>

<!-- blacklist form -->

<h3>What would you like to avoid?</h3>

<%= simple_form_for(@user, url: users_update_path, method: :patch) do |f| %>

  <div class="form-group">
    <input type="hidden" name="user[blacklist_ids][]" value="">
    <div class="blacklist-choices">
      <% Blacklist.all.each do |blacklist| %>
        <input type="checkbox" class="hidden" value="<%= blacklist.id %>" name="user[blacklist_ids][]" id="user_blacklist_ids_<%= blacklist.id %>">
        <label for="user_blacklist_ids_<%= blacklist.id %>">

          <div class="blacklist-card">
            <%= blacklist.name %>
            <i class="fa fa-check"></i>
          </div>

        </label>
      <% end %>
     </div>
  </div>
  <%= f.submit "Update" %>
<% end %>



<%#= simple_form_for(@blacklist_user, url: blacklist_users_create_path) do |f| %>
  <%#= f.input :blacklist, class: "blacklist-form", as: :check_boxes, collection: @blacklist_options %>
  <%#= f.button :submit, class:"btn btn-primary" %>
<%# end %>


<!-- cards -->
<!--
<div class= "card-container">
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  <div class="card-product-infos">
    <h2>Le Wagon</h2>
    <p>Change your life, learn to code</p>
  </div>
</div>

<div class="card-product">
  <img src="assets/duo.png" />
  <div class="card-product-infos">
    <h2>Duo Lingo</h2>
    <p>The worlds best way to learn a language</p>
  </div>
</div>

<div class="card-product">
  <img src="assets/elevate.png" />
  <div class="card-product-infos">
    <h2>Elevate</h2>
    <p>Stay sharp, build confidence, and boost productivity</p>
  </div>
</div>
</div>

<div class="row justify-content-center p-5">
  <h1 style= 'font-family: Noto Serif JP'>What websites distract you?</h1>
</div>

<div class= "card-container">
<div class="card-product">
  <img src="assets/facebook.png" />
  <div class="card-product-infos">
    <h2>Facebook</h2>
  </div>
</div>

<div class="card-product">
  <img src="assets/twitter.png" />
  <div class="card-product-infos">
    <h2>Twitter</h2>
  </div>
</div>

<div class="card-product">
  <img src="assets/bbcnews.png" />
  <div class="card-product-infos">
    <h2>BBC News</h2>
  </div>
</div>

<div class="card-product">
  <img src="assets/instagram.png" />
  <div class="card-product-infos">
    <h2>Instagram</h2>
  </div>
</div>
</div> -->
