
<!-- header and banner -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" >
  <a class="navbar-brand" href="/dashboard">
    <i class="far fa-lightbulb" style= "font-size: 26px;"></i>
 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Hi <%= @user.first_name %></a>
      </li>
        </div>
      </li>
    </ul>
  </div>
</div>


<header>
  <div class="intro-text">
      <h1 style= 'font-family: Noto Serif JP;'>Hold That Thought</h1>
  </div>
</header>

<section>
   <div class= "page2">

      <div class= "form-1 align-items-center" id= "form-1" style = "margin-bottom: 30px;">
         <div class= "title">
            <h3>What would you like to learn?</h3>
         </div>
              <div class= "card-container">
                <div class="card-product" id="card" >
                  <%= image_tag "logo.png", alt: "alttext" %>
                  <div class="card-product-infos">
                    <h2>Le Wagon</h2>
                    <p>Change your life, learn to code</p>
                </div>
            </div>

            <div class="card-product" id="card">
              <%= image_tag "duo.png", alt: "alttext" %>

              <div class="card-product-infos">
                <h2>Duo Lingo</h2>
                <p>The worlds best way to learn a language</p>
              </div>
            </div>

            <div class="card-product" id="card">
                <%= image_tag "elevate.png", alt: "alttext" %>

                <div class="card-product-infos">
                  <h2>Elevate</h2>
                   <p>Stay sharp, build confidence, and boost productivity</p>
                </div>
            </div>
        </div>
           <div class= "arrow">
            <a href="javascript:SwapDivsWithClick('form-1','form-2')" class="fas fa-arrow-right"></a>
       </div>
    </div>
 </div>
</section>

<!-- blacklist form -->


<div class= "container" id="form-2" style= "display:none; transition: all 5s ease; margin-bottom: 30px;">

<div class = "row">
  <div class= "col" id= "title" style= "padding-bottom: 40px;">
  <h3 style= "text-align: center;">What would you like to avoid?</h3>
</div>
</div>

  <%= simple_form_for(@user, url: users_update_path, method: :patch) do |f| %>

    <div class="form-group">
      <input type="hidden" name="user[blacklist_ids][]" value="">
      <div class="blacklist-choices m-0">
        <% Blacklist.all.each do |blacklist| %>
          <input type="checkbox" class="hidden" value="<%= blacklist.id %>" name="user[blacklist_ids][]" id="user_blacklist_ids_<%= blacklist.id %>">
          <label for="user_blacklist_ids_<%= blacklist.id %>">
            <div class = "blacklist-all">
              <div class="blacklist-card" id= "blacklist-card">
                <%= image_tag blacklist.image_url, alt: "alttext" %>
                     <div class="blacklist-infos">
                    <h2><%= blacklist.name %></h2>
                  </div>
              </div>
           </div>
         </label>
        <% end %>
      </div>
    </div>
    <%= f.submit "Create profile", class: "btn btn-ghost" %>
   <% end %>
  </div>
</div>

<!-- swap divs JS function -->

<script type="text/javascript">
function SwapDivsWithClick(div1,div2)
{
   d1 = document.getElementById(div1);
   d2 = document.getElementById(div2);
   if( d2.style.display == "none" )
   {
      d1.style.display = "none";
      d2.style.display = "block";
   }
   else
   {
      d1.style.display = "block";
      d2.style.display = "none";
   }
}
</script>





